certifi==2025.1.31
charset-normalizer==3.4.1
coloredlogs==15.0.1
dotenv==0.9.9
humanfriendly==10.0
idna==3.10
python-dotenv==1.0.1
requests==2.32.3
urllib3==2.3.0
unstructured[pdf, docx, xlsx, md, msg]==0.16.23
langchain==0.3.19
langchain-community==0.3.18
pymupdf==1.25.3
extract-msg==0.53.1
faiss-cpu==1.10.0
rich==13.9.4
